* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1240px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.heading {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}

.card-body h5 {
  height: 50px;
  overflow: hidden;
}

.card-body p {
  height: 70px;
  overflow: hidden;
}
.card-body a {
  position: relative;
  left: 40%;
  align-items: center;
}
.p-nav {
  margin: auto;
  height: 150px;
}
.ratingBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card {
  cursor: pointer;
}
.card:hover {
  scale: 1.05;
  transition: all ease-in 0.3s;
}
.ratingBox button {
  padding: 5px;
  outline: none;
  border-radius: 10px;
}
